__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/
ENV/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
site/
*.egg-info/
.eggs/
pip-wheel-metadata/

.idea/
.vscode/
*.swp
*.swo
*~

*.log

*.part
*.resume.json
*.enc2
*.enc4
*.dec
*.zip
*.tar
*.tar.md5
*.bin
